/*----------------
    Block head
----------------*/
.block_head
{
    margin-bottom: 40px;
}

.block_head.big_m
{
    margin-bottom: 60px;
}


.block_head .title
{
    font-family: var(--font_family2);
    font-size: var(--font_size_title);
    font-weight: 400;
    line-height: 100%;

    display: block;
}


.block_head .title.primary
{
    color: var(--primary_color);
}



@media print,
(max-width: 1279px)
{
    .block_head
    {
        margin-bottom: 28px;
    }


    .block_head.big_m
    {
        margin-bottom: 40px;
    }
}



@media print,
(max-width: 767px)
{
    .block_head
    {
        margin-bottom: 24px;
    }


    .block_head .title.mob_big
    {
        font-size: var(--font_size_title_big);
    }
}
