/*--------------------
    TG agree modal
--------------------*/
#tg_agree_modal
{
    width: 527px;
    padding: 32px;

    color: var(--light_text_color);
    border: none;
    background: rgba(90, 14, 14, .60);
}


#tg_agree_modal .f-button.is-close-btn
{
    display: none;
}


#tg_agree_modal .warning
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 32px;
}


#tg_agree_modal .warning .icon
{
    display: block;

    width: 79px;
    height: 79px;

    color: #a89a9a;
}


#tg_agree_modal .warning .icon + *
{
    font-size: 16px;
    line-height: 120%;

    display: flex;
    flex-direction: column;

    width: calc(100% - 91px);

    letter-spacing: -.32px;

    color: var(--light_text_color);

    gap: 20px;
}


#tg_agree_modal .warning span
{
    font-size: var(--font_size);
    line-height: 120%;

    letter-spacing: -.54px;

    color: #a89a9a;
}


#tg_agree_modal .warning .contacts
{
    font-family: var(--font_family2);
    font-size: 28px;
    line-height: 100%;
}


#tg_agree_modal .warning .contacts a
{
    color: #a89a9a;

    text-decoration-thickness: 1px;
}


#tg_agree_modal .checkboxes
{
    line-height: 120%;

    display: flex;
    flex-direction: column;

    letter-spacing: -.54px;

    gap: 32px;
}


#tg_agree_modal .checkboxes .items
{
    display: flex;
    flex-direction: column;

    gap: 16px;
}


#tg_agree_modal .checkbox
{
    font-size: 16px;
    line-height: 120%;

    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    min-height: 28px;
    padding-left: 40px;

    cursor: pointer;
    letter-spacing: -.32px;
}


#tg_agree_modal .checkbox input
{
    display: none;
}


#tg_agree_modal .checkbox .check
{
    position: absolute;
    top: 0;
    left: 0;

    width: 28px;
    height: 28px;
}


#tg_agree_modal .checkbox .check svg
{
    display: block;

    width: 100%;
    height: 100%;
}


#tg_agree_modal .checkbox .check svg + svg
{
    display: none;
}


#tg_agree_modal .checkbox input:checked + .check svg
{
    display: none;
}

#tg_agree_modal .checkbox input:checked + .check svg + svg
{
    display: block;
}


#tg_agree_modal .btns
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 32px;
}


#tg_agree_modal .btns .btn
{
    font-size: var(--font_size_middle);
    font-weight: 500;
    line-height: 120%;

    width: calc(50% - 16px);
    height: 41px;

    transition: .2s linear;
    letter-spacing: -.4px;
    text-transform: uppercase;

    border: 1px solid var(--primary_color);
}


#tg_agree_modal .btns .accept_btn
{
    background: var(--primary_color);
}



@media (max-width: 479px)
{
    #tg_agree_modal .warning .icon
    {
        width: 36px;
        height: 36px;
    }


    #tg_agree_modal .warning .icon + *
    {
        width: calc(100% - 46px);
    }


    #tg_agree_modal .btns .btn
    {
        width: calc(50% - 8px);
    }
}
